.SDSInspirationalList {

  .SDSInspirationalTile {
    display: block;
    padding: 4px;
    margin: 5px 0;

    // based on bootstrap thumbnail and panel
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
 }

}

.SDSTilesThemedDestinationFinderWidget {
  .SDSAspectRatioEnforcer {
    // base on http://stackoverflow.com/questions/12694919/cropping-the-image-to-aspect-ratio-in-bootstrap-responsive-grid
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 66.66%; /* enforce 3:2 aspect ratio */

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .SDSCityLabel {
    width: 60%;
  }

  .SDSPriceLabel {
    width: 40%;
  }

  .popover-content {
    padding: 0;
  }
}

.SDSMapThemedDestinationFinderWidget {
  position: relative;

  .SDSMapTopLegend {
    position: absolute;
    top: 0.7em;
    z-index: 99;
    background-color: white;
    opacity: 0.9;

    left: 200px;
  }

  .SDSMapTopLegend {
    padding: 0.3em 0.4em;
    border-radius: 0.1em;

    .SDSMapTopLegendElement {
      margin-left: 0.2em;
      margin-right: 0.2em;

      img {
        margin-right: 0.1em;
      }
    }
  }

  .angular-google-map-container {
    height: 400px;
  }
  .angular-google-map-container .gm-style-iw { // for info window
    // all important to override google maps style on element level
    left: 2px !important;
    & > div {
      overflow-x: hidden !important;
    }

  }
}

.SDSChangeOriginSelect {
  button {
    margin-left: 0.6rem;
  }
}

.SDSDestinationPricerDetailsPopover {
  padding: 5px;
}