<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="ok()"><span aria-hidden="true">&times;</span></button><!-- the close icon -->
        <h3 class="modal-title">{{::modalTitle}}</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="error in errorsList">
                <span class="text-error">{{error}}</span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
