<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation-items">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.sabre.com" class="navbar-brand"><img src="www/img/sabre-logo.png"></a>
        </div>
        <div class="navbar-collapse collapse" id="main-navigation-items">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Basic Search
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="www/FlightListBFM.html#/">Flight List Bargain Finder Max</a></li>
                        <li><a href="www/FlightList.html#/">Flight List Instaflights</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/FiltersForFlightList.html#/">Flight List Instaflights with filters</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/FlightListInstaflightsSpeedVersusBFM.html#/">Instaflights speed versus BFM</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/FlightListBFMVersusBFMDiversitySwapper.html#/">BFM versus BFM Diversity Swapper</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/FlightListBrandedFares.html#/">Flight List Branded Fares</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/FlightListBFMShopByBag.html#/">Flight List BFM Shop by Bag</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Calendar Search
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="www/LeadPriceChartAdvancedCalendar.html">Lead Price Chart for Advanced Calendar</a></li><!-- Search Form with Lead Price chart, working with Advanced Calendar On click on Lead price chart the Itinerary List for selected day is shown. -->
                        <li><a href="www/LeadPriceChartLeadPriceCalendar.html">Lead Price Chart for Lead Price Calendar</a></li><!-- Search Form with Lead Price chart, working with Lead Price Calendar. On click on Lead price chart the Itinerary List is fetched from BFM -->
                        <li role="separator" class="divider"></li>
                        <li><a href="www/CalendarTabsAdvancedCalendar.html">Calendar tabs Advanced Calendar</a></li>
                        <li><a href="www/CalendarTabsLeadPriceCalendar.html">Calendar tabs Lead Price Calendar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/CalendarNavigableAdvancedCalendar.html">Calendar navigated Advanced Calendar</a></li>
                        <li><a href="www/CalendarNavigableLeadPriceCalendar.html">Calendar navigated Lead Price</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Alternate Dates
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="www/AdvancedCalendarAdvancedDateFlexibilityCriteriaWithFlightList.html">Flight List Advanced Calendar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/AlternateDatesMatrixAdvancedCalendar.html">Alt Dates Matrix Advanced Calendar</a></li>
                        <li><a href="www/AlternateDatesMatrixLeadPriceCalendar.html">Alt Dates Matrix Lead Price Calendar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/AlternateDatesMatrixBfmAltDates.html">Alt Dates Matrix Bargain Finder Max Alt Dates</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Intelligence Services
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="www/FareForecast.html">Low Fare Forecast</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/FareRange.html">Fare Range</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/LowFareHistory.html">Low Fare History</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/TravelSeasonality.html">Travel Seasonality</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="www/FareNabber.html">Fare Nabber subscribe</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Inspirational Services
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="www/DestinationPricer.html">Cheapest Flights To Destination</a></li>
                        <li><a href="www/TilesThemedDestinationFinder.html">Destination Finder with Themes tiles</a></li>
                        <li><a href="www/MapThemedDestinationFinder.html">Destination Finder with Themes map</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>