<div class="SDSWidget SDSResponsiveElement">
    <div class="panel panel-default SDS-panel" ng-if="isAnyDataToDisplayAvailable()">

        <div class="panel-heading SDS-panel-heading text-center">
            <h4 class="panel-title">Lead Prices Calendar</h4>
        </div>

        <div class="panel-body SDS-panel-body">
            <div class="SDS-row">
                <div ng-class="{'SDS-col-element-xxl-6':numberOfMonthsShownAtOnce == 2, 'SDS-col-element-xxl-4':numberOfMonthsShownAtOnce == 3}"
                     ng-repeat="month in calendar.months | startFrom: (paginationSettings.currentPage - 1) * numberOfMonthsShownAtOnce | limitTo: numberOfMonthsShownAtOnce"
                     disable="month.noPricesFound">

                        <h4 class="text-center">{{month.monthStartDate.format('MMMM')}}</h4><!-- January February -->
                        <ng-include src="'../widgets/view-templates/widgets/CalendarWidgetOneMonth.tpl.html'"></ng-include>

                </div>
            </div>
        </div>

        <div class="panel-footer SDS-panel-footer" ng-if="numberOfMonths > 1">
            <pager total-items="calendar.months.length" ng-model="paginationSettings.currentPage" items-per-page="numberOfMonthsShownAtOnce"></pager>
        </div>

    </div>
</div>
