<div class="SDSFareRangeWidget panel panel-default" ng-if="isAnyDataToDisplayAvailable()">
    <div class="panel-heading text-center">
        <h4 class="panel-title">Fare Range</h4>
    </div>

    <div class="panel-body" ng-if="showFareRangeToCustomer()">
        <high-low-median-current-chart
                high-value="{{fareRangeSummary.overallMaximumFare}}"
                high-text="Highest"
                low-value="{{fareRangeSummary.overallMinimumFare}}"
                low-text="Lowest"
                median-value="{{fareRangeSummary.overallMedianFare}}"
                median-text="Median"
                current-value="{{currentLowestFare}}"
                current-text="Fare found"
                values-filter="currency"
                values-filter-arguments="{{fareRangeSummary.currency}}">
        </high-low-median-current-chart>
    </div>

</div>