<div ng-transclude>
    <script type="text/ng-template" id="FareNabberSubscriptionFormModal.html.tpl">
        <div class="SDSWidget SDSFareNabberWidget">

            <div class="modal-header">

                <!-- Bootstrap way for close icon in top right corner -->
                <button type="button" class="close" aria-label="Close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h3 class="modal-title">Subscribe to price alerts</h3>
            </div>

            <form class="form-horizontal" name="fareNabberForm" novalidate ng-submit="fareNabberForm.$valid && subscribe()">
                <div class="modal-body">

                    <div class="form-group" ng-class="{'has-error':fareNabberForm.$submitted && fareNabberForm.subscriberEmail.$invalid}" ng-if="showEmailField">
                        <label for="SDSFareNabberForm_SubscriberEmail" class="input-sm col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" id="SDSFareNabberForm_SubscriberEmail" name="subscriberEmail" class="form-control input-sm col-sm-10" placeholder="Type your email" autofocus required ng-model="subscriberEmail">
                            <div class="help-block" ng-show="fareNabberForm.$submitted && fareNabberForm.subscriberEmail.$invalid">
                                <small ng-show="fareNabberForm.subscriberEmail.$error.required">Input your email</small>
                                <small ng-show="fareNabberForm.subscriberEmail.$error.email">Invalid email</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':fareNabberForm.$submitted && fareNabberForm.origin.$invalid}">
                        <label for="SDSFareNabberForm_Origin" class="input-sm col-sm-3 control-label">Trip departure airport or city</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="SDSFareNabberForm_Origin" name="origin" placeholder="Trip departure airport or city" required autocomplete="off" ng-model="origin">
                            <!--<input-airport class="form-control input-sm" id="SDSFareNabberForm_Origin" name="origin" required airport="origin" preselected-airport="origin"></input-airport>-->
                            <!--<input type="text" id="SDSFareNabberForm_Origin" name="origin" class="form-control input-sm" placeholder="Trip departure airport or city" required autocomplete="off" ng-model="origin"-->
                            <!--typeahead="airport as (airport | airportNameWithIATACode) for airport in airports | filter:$viewValue | airportNameBestSuggestionComparator:$viewValue | limitTo:30" typeahead-min-length="2" typeahead-wait-ms="50">-->
                            <div class="help-block" ng-show="fareNabberForm.$submitted && fareNabberForm.origin.$invalid">
                                <small ng-show="fareNabberForm.origin.$error.required">Type departure airport or city</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':fareNabberForm.$submitted && fareNabberForm.destination.$invalid}">
                        <label for="SDSFareNabberForm_Destination" class="input-sm col-sm-3 control-label">Trip arrival airport or city</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="SDSFareNabberForm_Destination" name="destination" placeholder="Trip arrival airport or city" required autocomplete="off" ng-model="destination">
                            <!--<input type="text" id="SDSFareNabberForm_Destination" name="destination" class="form-control input-sm" placeholder="Trip arrival airport or city" required autocomplete="off" ng-model="destination"-->
                               <!--typeahead="airport as (airport | airportNameWithIATACode) for airport in airports | filter:$viewValue | airportNameBestSuggestionComparator:$viewValue | limitTo:30" typeahead-min-length="2" typeahead-wait-ms="50">-->
                            <div class="help-block" ng-show="fareNabberForm.$submitted && fareNabberForm.destination.$invalid">
                                <small ng-show="fareNabberForm.destination.$error.required">Type arrival airport or city</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="SDSFareNabberForm_PreferredAirlines" class="input-sm col-sm-3 control-label">Preferred Airlines</label>
                        <div class="col-sm-9">
                            <!-- do not style select-multiple-airlines with classes input-sm form-control and so on. the css for ui-select already takes care of bootstrap style, adding these classes additionally only messes the style-->
                            <select-multiple-airlines id="SDSFareNabberForm_PreferredAirlines" name="PreferredAirlines"
                                 min-date="defaultOptions.earliestTravelStart" airlines="preferredAirlines">
                            </select-multiple-airlines>
                        </div>
                    </div>

                    <flexible-departure-return-dates ng-model="preferences" fdrd-form-name="fdrdForm" min-date="defaultOptions.earliestTravelStart"></flexible-departure-return-dates>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <div class="checkbox">
                                <label for="SDSFareNabberForm_DirectFlightsOnly">
                                    <input type="checkbox" name="DirectFlightsOnly" id="SDSFareNabberForm_DirectFlightsOnly" ng-model="directFlightsOnly">
                                    Direct flights only
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <div class="checkbox">
                                <label for="SDSFareNabberForm_AllowInterline">
                                    <input type="checkbox" name="AllowInterline" id="SDSFareNabberForm_AllowInterline" ng-model="defaultOptions.allowInterline">
                                    Allow multiple airline itineraries
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="SDSFareNabberForm_PaxNumber" class="input-sm control-label col-sm-3">Number of {{passengerType | passengerType | lowercase}} passengers</label>
                        <div class="col-sm-9">
                            <input type="number" id="SDSFareNabberForm_PaxNumber" name="passengerCount" value="1" min="1" max="9" required class="form-control input-sm SDSPaxNbrInput" string-to-number ng-model="passengerCount">
                        </div>
                    </div>

                    <div class="form-group">
                        <div ng-class="{'has-error':fareNabberForm.$submitted && fareNabberForm.maximumAcceptablePrice.$invalid}">
                            <label for="SDSFareNabberForm_MaximumAcceptablePrice" class="input-sm col-sm-3 control-label">Maximum acceptable price</label>

                            <div class="col-sm-3">
                                <input type="number" step="50" id="SDSFareNabberForm_MaximumAcceptablePrice" name="maximumAcceptablePrice"
                                       class="form-control input-sm" placeholder="Max price" min="0" required string-to-number ng-model="maximumAcceptablePrice">
                                <div class="help-block" ng-show="fareNabberForm.$submitted && fareNabberForm.maximumAcceptablePrice.$invalid">
                                    <small ng-show="fareNabberForm.maximumAcceptablePrice.$error.required">Type maximum acceptable price</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                                <input type="text" id="SDSFareNabberForm_MaximumAcceptablePriceCurrency" name="maximumAcceptablePriceCurrency" class="form-control input-sm" placeholder="currency" ng-value="USD" required ng-model="maximumAcceptablePriceCurrency" readonly>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':fareNabberForm.$submitted && fareNabberForm.subscriptionExpiryDate.$invalid}">
                        <label for="SDSFareNabberForm_SubscriptionExpiryDate" class="input-sm col-sm-3 control-label">Expire subscription after</label>
                        <div class="col-sm-3">
                            <input-date class="input-group" id="SDSFareNabberForm_SubscriptionExpiryDate"
                                        name="subscriptionExpiryDate" class="form-control input-sm" ng-model="subscriptionExpiryDate" required="true"></input-date>
                            <div class="help-block" ng-show="fareNabberForm.$submitted && fareNabberForm.subscriptionExpiryDate.$invalid">
                                <small ng-show="fareNabberForm.subscriptionExpiryDate.$error.required">Choose expiration date</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </form>

        </div>
    </script>

    <script type="text/ng-template" id="FareNabberSubscriptionSuccessful.html.tpl">
        <div class="modal-body">
            <span class="text-success center-block">You subscribed successfully to the price alert. Thank you!</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary center-block" ng-click="ok()">OK</button>
        </div>
    </script>


</div>