<div class="SDSWidget SDSResponsiveElement">
<itinerary-summary-price-per-stops-per-airline ng-if="isAnyDataToDisplayAvailable()"
        class="SDS-visible-lg"
        summary="summaryPerStopsPerAirline">
</itinerary-summary-price-per-stops-per-airline>

<div class="panel panel-default" ng-if="isAnyDataToDisplayAvailable()">

    <div class="panel-heading">
        <div class="SDS-row">
            <div class="SDS-col-element-xxl-3">
                <strong>{{permittedItinerariesSorted.length}} options found for {{searchCriteriaDepartureAirport | cityAndAirportFullName}} to {{searchCriteriaArrivalAirport | cityAndAirportFullName}}</strong>
            </div>

            <div class="SDS-col-element-xxl-7">
                <!-- using show and hide and not the tabset tat is already responsive as the available repsonsive tabs components require jQuery -->
                <accordion class="SDS-hidden-lg" close-others="false">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            <span class="text-info">Cheapest: {{bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.amount | currency:bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.amount.currency}}</span>
                        </accordion-heading>
                        <itinerary-short-summary itin="bestItinerariesSummary.cheapest"></itinerary-short-summary>
                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            <span class="text-info">Best: {{bestItinerariesSummary.best.totalFareAmountWithCurrency.amount | currency:bestItinerariesSummary.best.totalFareAmountWithCurrency.currency}}</span>
                        </accordion-heading>
                        <itinerary-short-summary itin="bestItinerariesSummary.best"></itinerary-short-summary>
                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            <span class="text-info">Shortest: {{bestItinerariesSummary.shortest.totalFareAmountWithCurrency.amount | currency:bestItinerariesSummary.shortest.totalFareAmountWithCurrency.currency}}</span>
                        </accordion-heading>
                        <itinerary-short-summary itin="bestItinerariesSummary.shortest"></itinerary-short-summary>
                    </accordion-group>
                </accordion>
                <tabset class="SDS-visible-lg">
                    <tab heading="Cheapest: {{bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.amount | currency:bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.currency}}">
                        <itinerary-short-summary itin="bestItinerariesSummary.cheapest"></itinerary-short-summary>
                    </tab>
                    <tab heading="Best: {{bestItinerariesSummary.best.totalFareAmountWithCurrency.amount | currency:bestItinerariesSummary.best.totalFareAmountWithCurrency.currency}}">
                        <itinerary-short-summary itin="bestItinerariesSummary.best"></itinerary-short-summary>
                    </tab>
                    <tab heading="Shortest: {{bestItinerariesSummary.shortest.totalFareAmountWithCurrency.amount | currency:bestItinerariesSummary.shortest.totalFareAmountWithCurrency.currency}}">
                        <itinerary-short-summary itin="bestItinerariesSummary.shortest"></itinerary-short-summary>
                    </tab>
                </tabset>
            </div>

            <div class="SDS-col-element-xxl-2">
                <input-select-dropdown class="pull-right"
                               available-sort-criteria="availableSortCriteria"
                               selected-first-sort-criterion="selectedFirstCriterion"
                               on-sorting-criteria-changed="onSortingCriteriaChanged()"
                               label="Sort by">
                </input-select-dropdown>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ul class="list-unstyled SDSTopLevelList">
            <li class="SDS-row" ng-repeat="itinerary in permittedItinerariesSorted
                                            | startFrom: (paginationSettings.currentPage - 1)*itemsPerPage | limitTo: itemsPerPage"><!-- warn: cannot have track by $index here, as then itineraries CSS classes controlling vivibility will stay the same after changing page or sort criteria (for example Brand Details section would be still open, for other itineary). -->
                <itinerary itin="itinerary"></itinerary>
            </li>
        </ul>
    </div>

    <div class="panel-footer">
        <pagination class="pagination-sm pull-right" total-items="permittedItinerariesSorted.length" items-per-page="itemsPerPage" ng-model="paginationSettings.currentPage" boundary-links="true" rotate="false"></pagination>
        <div class="clearfix"></div>
    </div>

</div>
</div>