<div class="panel panel-default" ng-if="isAnyDataToDisplayAvailable()">
    <div class="panel-heading text-center SDS-responsive-panel-heading">
        <h4 class="panel-title">Lowest prices by airline and number of stops</h4>
    </div>
    <div class="panel-body SDS-responsive-panel-body">
        <div class="table-responsive">
            <table class="SDSPricePerStopsPerAirlineSummaryTable table table-hover table-bordered table-condensed">
                <thead>
                    <th></th>
                    <th class="success">Lowest price</th>
                    <th class="text-center" ng-repeat="item in summary.airlineSummaries">
                        <airline-logo airline-code="{{item.airline}}"></airline-logo>
                        <div>{{item.airline | airlineFullName}}</div>
                    </th>
                </thead>

                <tbody>
                    <tr ng-if="summary.totalSummary.nonStopLowestPrice">
                        <td>Non-stop</td>
                        <td class="success" ng-click="itemClicked(summary.totalSummary.nonStopLowestPriceItineraryId)">
                            <a>{{summary.totalSummary.nonStopLowestPrice | isoCurrency:summary.totalSummary.totalFareCurrency}}</a>
                        </td>
                        <td ng-repeat="item in summary.airlineSummaries" ng-class="{success: item.isCheapestNonStop}" ng-click="itemClicked(item.nonStopLowestPriceItineraryId)">
                            <a>{{item.nonStopLowestPrice | isoCurrency:summary.totalSummary.totalFareCurrency}}</a>
                        </td>
                    </tr>
                    <tr ng-if="summary.totalSummary.oneStopLowestPrice">
                        <td>1 Stop</td>
                        <td class="success" ng-click="itemClicked(summary.totalSummary.oneStopLowestPriceItineraryId)">
                            <a>{{summary.totalSummary.oneStopLowestPrice | isoCurrency:summary.totalSummary.totalFareCurrency}}</a>
                        </td>
                        <td ng-repeat="item in summary.airlineSummaries" ng-class="{success: item.isCheapestOneStopLowestPrice}" ng-click="itemClicked(item.oneStopLowestPriceItineraryId)">
                            <a>{{item.oneStopLowestPrice | isoCurrency:summary.totalSummary.totalFareCurrency}}</a>
                        </td>
                    </tr>
                    <tr ng-if="summary.totalSummary.twoAndMoreStopsLowestPrice">
                        <td>2+ Stops</td>
                        <td class="success" ng-click="itemClicked(summary.totalSummary.twoAndMoreStopsLowestPriceItineraryId)">
                            <a>{{summary.totalSummary.twoAndMoreStopsLowestPrice | isoCurrency:summary.totalSummary.totalFareCurrency}}</a>
                        </td>
                        <td ng-repeat="item in summary.airlineSummaries" ng-class="{success: item.isCheapestTowOrMoreStopsLowestPrice}" ng-click="itemClicked(item.twoAndMoreStopsLowestPriceItineraryId)">
                            <a>{{item.twoAndMoreStopsLowestPrice | isoCurrency:summary.totalSummary.totalFareCurrency}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>