<div class="SDSWidget SDSResponsiveElement">
<itinerary-summary-price-per-stops-per-airline ng-if="isAnyDataToDisplayAvailable()"
        class="SDS-visible-lg"
        summary="summaryPerStopsPerAirline"
        summary-item-clicked-callback="summaryItemClickedCallback(itineraryId)">
</itinerary-summary-price-per-stops-per-airline>

<div class="panel panel-default" ng-if="isAnyDataToDisplayAvailable()">

    <div class="panel-heading SDSPaddingSmall">
        <div class="SDS-row">
            <div class="SDS-col-element-xxl-3 SDS-lead">
                {{permittedItinerariesCount}} options found for {{searchCriteriaDepartureAirport | cityAndAirportFullName}} to {{searchCriteriaArrivalAirport | cityAndAirportFullName}}
            </div>

            <div class="SDS-col-element-xxl-7">
                <!-- using show and hide and not the tabset tat is already responsive as the available responsive tabs components require jQuery -->
                <accordion class="SDS-hidden-lg" close-others="false">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            <span class="text-info">Cheapest:
                                <div class="pull-right">{{bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.amount | isoCurrency:bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.currency}}</div>
                                <div class="clearfix"></div>
                            </span>
                        </accordion-heading>
                        <itinerary-short-summary itin="bestItinerariesSummary.cheapest" itinerary-clicked-callback="summaryItemClickedCallback(itineraryId)"></itinerary-short-summary>
                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            <span class="text-info">Best:
                                <div class="pull-right">{{bestItinerariesSummary.best.totalFareAmountWithCurrency.amount | isoCurrency:bestItinerariesSummary.best.totalFareAmountWithCurrency.currency}}</div>
                                <div class="clearfix"></div>
                            </span>
                        </accordion-heading>
                        <itinerary-short-summary itin="bestItinerariesSummary.best" itinerary-clicked-callback="summaryItemClickedCallback(itineraryId)"></itinerary-short-summary>
                    </accordion-group>
                    <accordion-group>
                        <accordion-heading>
                            <span class="text-info">Shortest:
                                <div class="pull-right">{{bestItinerariesSummary.shortest.totalFareAmountWithCurrency.amount | isoCurrency:bestItinerariesSummary.shortest.totalFareAmountWithCurrency.currency}}</div>
                                <div class="clearfix"></div>
                            </span>
                        </accordion-heading>
                        <itinerary-short-summary itin="bestItinerariesSummary.shortest" itinerary-clicked-callback="summaryItemClickedCallback(itineraryId)"></itinerary-short-summary>
                    </accordion-group>
                </accordion>
                <tabset class="SDS-visible-lg">
                    <tab heading="Cheapest: {{bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.amount | isoCurrency:bestItinerariesSummary.cheapest.totalFareAmountWithCurrency.currency}}">
                        <itinerary-short-summary itin="bestItinerariesSummary.cheapest" itinerary-clicked-callback="summaryItemClickedCallback(itineraryId)"></itinerary-short-summary>
                    </tab>
                    <tab heading="Best: {{bestItinerariesSummary.best.totalFareAmountWithCurrency.amount | isoCurrency:bestItinerariesSummary.best.totalFareAmountWithCurrency.currency}}">
                        <itinerary-short-summary itin="bestItinerariesSummary.best" itinerary-clicked-callback="summaryItemClickedCallback(itineraryId)"></itinerary-short-summary>
                    </tab>
                    <tab heading="Shortest: {{bestItinerariesSummary.shortest.totalFareAmountWithCurrency.amount | isoCurrency:bestItinerariesSummary.shortest.totalFareAmountWithCurrency.currency}}">
                        <itinerary-short-summary itin="bestItinerariesSummary.shortest" itinerary-clicked-callback="summaryItemClickedCallback(itineraryId)"></itinerary-short-summary>
                    </tab>
                </tabset>
            </div>

            <div class="SDS-col-element-xxl-2">
                <input-select-dropdown class="pull-right"
                               available-sort-criteria="availableSortCriteria"
                               selected-first-sort-criterion="selectedFirstCriterion"
                               on-sorting-criteria-changed="onSortingCriteriaChanged()"
                               label="Sort by">
                </input-select-dropdown>
            </div>
        </div>
    </div>

    <div class="panel-body SDS-no-paddings">
        <ul class="list-unstyled SDSTopLevelList">
            <li class="SDS-row" ng-repeat="itinerary in permittedItinerariesSortedCurrentPageView"><!-- warn: cannot have track by $index here, as then itineraries CSS classes controlling visibility will stay the same after changing page or sort criteria (for example Brand Details section would be still open, for other itinerary). -->
                <itinerary id="{{::getItinAnchorId(itinerary.id)}}" itin="::itinerary" itinerary-selected-callback="selectedItineraryCallback({itinerary: itinerary})" enable-itinerary-select-button="{{::enableItinerarySelectButton}}"></itinerary>
            </li>
        </ul>
    </div>

    <div class="panel-footer SDS-panel-footer">
        <pagination class="pagination-sm pull-right" total-items="permittedItinerariesCount" items-per-page="itemsPerPage" ng-model="paginationSettings.currentPage" boundary-links="true" rotate="false"></pagination>
        <div class="clearfix"></div>
    </div>

</div>
</div>