<div>
<div class="panel panel-default SDSWidget SDSThemedDestinationFinderWidget SDSResponsiveElement" ng-show="ctrl.isAnyDataToDisplayAvailable()">

    <div class="panel-heading text-center">
        <h4 class="panel-title">Best offers</h4>
    </div>

    <div class="panel-body SDSThumbnailsContainer">
        <nav class="navbar navbar-default">
            <!-- This .navbar is on purpose NOT in .container or container-fluid. We do not want bootstrap responsive (whole screen) media queries to mess here.
            Making navbar menu fully responsive in element query context would require developing own SDS classes for container, navbar, etc. Not supported. -->
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li ng-repeat="theme in ctrl.model.travelThemes" ng-class="{'active': theme === ctrl.model.selectedTravelTheme}" ng-click="ctrl.travelThemeClicked($event, theme)">
                        <a href="#">{{theme | theme}}</a>
                    </li>
                </ul>
            </div>
        </nav>
            <div class="SDS-row">
                <div class="SDS-col-element-md-6 SDS-col-element-xl-4 SDS-col-element-4xl-3"
                     ng-repeat="offersForOneDestination in ctrl.model.pricesForDestinationsGrouped track by $index">
                    <div href="#" class="thumbnail">
                        <div class="SDSAspectRatioEnforcer"
                             style="background-image: url('../widgets/img/destinations/{{offersForOneDestination.destination}}.jpg'), url('../widgets/img/destinations/general_city.jpg')">
                        </div>
                        <div class="caption">
                            <strong class="pull-left SDSCityLabel SDSHideOverflow">
                                {{offersForOneDestination.destination | cityFullName}}
                            </strong>
                            <strong class="pull-right text-right SDSPriceLabel SDSHideOverflow">
                                from {{offersForOneDestination.lowestFare.amount | currency:offersForOneDestination.lowestFare.currency}}
                            </strong>
                            <div class="clearfix"></div>
                            <span class="pull-right">
                                <a href="">
                                   <!--popover-template="'DestinationFinderOfferDetailsPopover'">-->
                                    Show flights
                                </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>

<!--<script type="text/ng-template" id="DestinationFinderOfferDetailsPopover">-->
    <!--<ul class="list-inline list-unstyled">-->
        <!--<li ng-repeat="offer in offersForOneDestination.offers">-->
            <!--{{offer.LowestFare.AirlineCodes[0]}} {{ctrl.model.originForPricesForDestinations}} - {{offer.DestinationLocation}} {{offer.DepartureDateTime}}-{{offer.ReturnDateTime}} from {{offer.LowestFare.Fare | currency:offer.CurrencyCode}}-->
        <!--</li>-->
    <!--</ul>-->
<!--</script>-->
</div>