<div ng-show="filterInstance.filterInitialized">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div ng-click="filterContentCollapsed =! filterContentCollapsed">
                <span ng-if="filterContentCollapsed" class="glyphicon glyphicon-collapse-up"></span>
                <span ng-if="!filterContentCollapsed" class="glyphicon glyphicon-collapse-down"></span>
                {{::filterInstance.label}}
            </div>
        </div>

        <div class="panel-body" ng-hide="filterContentCollapsed">

            <div ng-if="filterType === 'discrete' || filterType === 'discreteList'">
                <div class="checkbox" ng-repeat="i in filterInstance.selectableValues">
                    <label class="SDSDiscreteFilterValueLabel" for="{{::i.filterablePropertyName}}_{{i.propertyValue}}">
                        <input type="checkbox" id="{{::i.filterablePropertyName}}_{{i.propertyValue}}" checked="checked" ng-model="i.permitted" ng-change="permittedValuesChanged()">
                            <span>{{i.propertyValue | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}} ({{i.count}})</span>
                        <span class="pull-right">{{i.minPrice | currency:i.currency:0}}</span>
                    </label>
                </div>
            </div>

            <div ng-if="filterType === 'boolean'">
                <div class="checkbox">
                    <label for="{{::filterInstance.filterablePropertyName}}">
                        <input type="checkbox" id="{{::filterInstance.filterablePropertyName}}" ng-checked="filterInstance.isRequired" ng-model="filterInstance.isRequired" ng-change="permittedValuesChanged()">
                        {{::filterInstance.label}}
                    </label>
                </div>
            </div>

            <div ng-if="filterType === 'range' || filterType === 'rangeDateTime' || filterType === 'rangeMonetaryAmount'">
                <span class="top-left">
                    <span ng-if="filterType === 'range' || filterType === 'rangeDateTime'">
                        {{filterInstance.minConstraint | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}}
                    </span>
                    <span ng-if="filterType === 'rangeMonetaryAmount'">
                        {{filterInstance.minConstraint.amount | currency:filterInstance.minConstraint.currency}}
                    </span>
                </span>
                <span class="pull-right">
                    <span ng-if="filterType === 'range' || filterType === 'rangeDateTime'">
                        {{filterInstance.maxConstraint | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}}
                    </span>
                    <span ng-if="filterType === 'rangeMonetaryAmount'">
                        {{filterInstance.maxConstraint.amount | currency:filterInstance.maxConstraint.currency}}
                    </span>
                </span>
                <div ng-if="filterType === 'range' || filterType === 'rangeDateTime'"
                     range-slider
                     min="filterInstance.minConstraint" max="filterInstance.maxConstraint"
                     model-min="filterInstance.min" model-max="filterInstance.max"
                     prevent-equal-min-max="true" show-values="true" attach-handle-values="true" ng-attr-pin-handle="{{canFilterOnlyOnMaxValue && 'min' || canFilterOnlyOnMinValue && 'max' || undefined}}"
                     filter="{{valuesDisplayFilter}}" filter-options="{{valuesDisplayFilterOptions}}"
                     on-handle-up="permittedValuesChanged()"></div>
                <div ng-if="filterType === 'rangeMonetaryAmount'"
                     range-slider
                     min="filterInstance.minConstraint.amount" max="filterInstance.maxConstraint.amount"
                     model-min="filterInstance.min.amount" model-max="filterInstance.max.amount"
                     prevent-equal-min-max="true" show-values="true" attach-handle-values="true" ng-attr-pin-handle="{{canFilterOnlyOnMaxValue && 'min' || canFilterOnlyOnMinValue && 'max' || undefined}}"
                     filter="currency" filter-options="{{filterInstance.minConstraint.currency}}"
                     decimal-places="2"
                     on-handle-up="permittedValuesChanged()"></div>
                     <!-- WARN: decimal-places="2": this hardcode is good for most currencies. When not set then by default it is 0, and when max handle of price range slider is moved to left and then back to the top right (should be no constraint), then the max price is set rounded to integer number. Because of that the price like 455.01 will not pass as handle is set to 455 -->
            </div>

        </div>
    </div>
</div>
